<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">

<style>
  body {
    background-color: #eeeeee;
    font-family: 'PT Sans Narrow', sans-serif;
  }
  .table td, .table th {
      border: none;
  }

  table.table.table-striped {
      border: 1px solid #b3b3b3;
  }
</style>

<dom-module id="consulta-movimientos">
  <template>

    <div class="col-md-12" style="padding-top: 15px;">

    <h3 class="col-md-3"> Consulta de Movimientos </h3>
      <div class="form-group col-md-2">
        <label for="filtro">Búsqueda por:</label>
         <select class="form-control" id="filtro" on-change="obtenerInput" value="{{filtro::input}}" required="required">
          <option value="" selected disabled hidden>Seleccione</option>
          <option value="nombre">Nombre</option>
          <option value="cliente">Cliente</option>
          <option value="cuenta">Cuenta</option>
         </select>
      </div>
     <div class="form-group col-md-2" hidden$="{{hidenom}}">
       <label for="nombre">Nombre:</label>
       <input type="text" class="form-control" id="nombre" value="{{nombre::input}}" required="required">
     </div>
     <div class="form-group col-md-2" hidden$="{{hidepat}}">
       <label for="paterno">Apellido Paterno:</label>
       <input type="text" class="form-control" id="paterno" value="{{paterno::input}}" required="required">
     </div>
     <div class="form-group col-md-2" hidden$="{{hidemat}}">
       <label for="materno">Apellido Materno:</label>
       <input type="text" class="form-control" id="materno" value="{{materno::input}}" required="required">
     </div>
     <div class="form-group col-md-2" hidden$="{{hidecli}}">
       <label for="cliente">Número de Cliente:</label>
       <input type="text" class="form-control" id="cliente" value="{{cliente::input}}" required="required">
     </div>
     <div class="form-group col-md-2" hidden$="{{hidecue}}">
       <label for="cuenta">Número de Cuenta:</label>
       <input type="text" class="form-control" id="cuenta" value="{{cuenta::input}}" required="required">
     </div>

     <div class="form-group col-md-12" hidden$="{{hidebutton}}">
       <button type="submit" on-click="obtenerCliente" class="btn btn-default col-md-2 col-md-offset-5">Buscar</button>
     </div>

     <div class="form-group col-md-6 col-md-offset-3" hidden$="{{hidetab}}">
       <template is="dom-repeat" items="{{respMov}}">
        <table class="table table-striped">
          <thead>
            <th>
              Detalle de Movimientos
            </th>
          </thead>
          <tbody>
              <tr>
                <td>
                  Numero de Operación
                </td>
                <td>
                  {{item.numOperacion}}
                </td>
              </tr>
              <tr>
                <td>
                  Cuenta
                </td>
                <td>
                  {{item.numCuenta}}
                </td>
              </tr>
              <tr>
                <td>
                  Monto
                </td>
                <td>
                  $ {{item.monto}}
                </td>
              </tr>
              <tr>
                <td>
                  Tipo de Operación
                </td>
                <td>
                  {{item.tipoOperacion}}
                </td>
              </tr>
              <tr>
                <td>
                  Fecha
                </td>
                <td>
                  {{item.fecha}}
                </td>
              </tr>
          </tbody>
        </table>

        </template>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsultaMovimientos extends Polymer.Element {
      static get is() { return 'consulta-movimientos'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          paterno: {
            type: String
          },
          materno: {
            type: String
          },
          cliente: {
            type: String
          },
          cuenta: {
            type: String
          },
          filtro: {
            type: String
          },
          hidenom: {
            type: Boolean,
            value: true
          },
          hidepat: {
            type: Boolean,
            value: true
          },
          hidemat: {
            type: Boolean,
            value: true
          },
          hidecli: {
            type: Boolean,
            value: true
          },
          hidecue: {
            type: Boolean,
            value: true
          },
          hidetab: {
            type: Boolean,
            value: true
          },
          hidebutton: {
            type: Boolean,
            value: true
          },
          respMov: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerCliente() {
        var filtro = this.filtro;
        if (filtro == "nombre") {
          var url = "http://127.0.0.1:3000/clientes?q={'nombre':'" + this.nombre.toUpperCase() + "'}";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("token", sessionStorage.getItem("token"));
          request.send();
          if (request.status == 200) {
            this.resp =  JSON.parse(request.responseText);
            if (this.resp.error) {
              alert(this.resp.error);
              this.hidetab = true;
            } else if (this.resp[0] == null) {
              alert("Cliente Inexistente");
              this.hidetab = true;
            } else {
              var url = "http://127.0.0.1:3002/movimientos?q={'numCliente':'" + this.resp[0].numCliente.toUpperCase() + "'}";
              var request = new XMLHttpRequest();
              request.open("GET", url, false);
              request.setRequestHeader("token", sessionStorage.getItem("token"));
              request.send();
              if (request.status == 200) {
                this.respMov =  JSON.parse(request.responseText);
                if (this.respMov.error) {
                  alert(this.respMov.error);
                  this.hidetab = true;
                } else if (this.respMov[0] == null) {
                  alert("Cuenta Inexistente");
                  this.hidetab = true;
                } else {
                  this.hidetab = false;
                }
              } else {
                alert("Servicio No Disponible");
                this.hidetab = true;
              }
            }
          } else {
            alert("Servicio No Disponible");
            this.hidetab = true;
          }
        } else if (filtro == "cliente") {
          var url = "http://127.0.0.1:3002/movimientos?q={'numCliente':'" + this.cliente.toUpperCase() + "'}";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("token", sessionStorage.getItem("token"));
          request.send();
          if (request.status == 200) {
            this.respMov =  JSON.parse(request.responseText);
            if (this.respMov.error) {
              alert(this.respMov.error);
              this.hidetab = true;
            } else if (this.respMov[0] == null) {
              alert("Cuenta Inexistente");
              this.hidetab = true;
            } else {
              this.hidetab = false;
            }
          } else {
            alert("Servicio No Disponible");
            this.hidetab = true;
          }
        } else if (filtro == "cuenta") {
          var url = "http://127.0.0.1:3002/movimientos?q={'numCuenta':'" + this.cuenta.toUpperCase() + "'}";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("token", sessionStorage.getItem("token"));
          request.send();
          if (request.status == 200) {
            this.respMov =  JSON.parse(request.responseText);
            if (this.respMov.error) {
              alert(this.respMov.error);
              this.hidetab = true;
            } else if (this.respMov[0] == null) {
              alert("Cuenta Inexistente");
              this.hidetab = true;
            } else {
              this.hidetab = false;
            }
          } else {
            alert("Servicio No Disponible");
            this.hidetab = true;
          }
        }
      }
      obtenerInput() {
        var filtro = this.filtro;
        if (filtro == "nombre") {
          this.hidenom = false;
          this.hidepat = false;
          this.hidemat = false;
          this.hidecli = true;
          this.hidecue = true;
          this.hidebutton = false;
        } else if (filtro == "cliente") {
          this.hidenom = true;
          this.hidepat = true;
          this.hidemat = true;
          this.hidecli = false;
          this.hidecue = true;
          this.hidebutton = false;
        } else {
          this.hidenom = true;
          this.hidepat = true;
          this.hidemat = true;
          this.hidecli = true;
          this.hidecue = false;
          this.hidebutton = false;
        }
      }
      guardarCuenta() {
        var url = "http://127.0.0.1:3001/cuentas";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevaCuenta = {"numCliente":this.resp[0].numCliente,
                            "numCuenta":this.numCuenta,
                            "tarjeta":this.tarjeta,
                            "tipoCuenta":this.tipoCuenta,
                            "saldo":this.saldo,
                            "vigencia":this.vigencia,
                            "estatus":this.estatus
                            };
        var body = JSON.stringify(nuevaCuenta);
        request.send(body);
        this.response = request.responseText;
        console.log(this.response);
      }
      mostrarConsulta() {
        this.hidecons = false;
        this.hidecuenta = true;
      }
      mostrarCuenta() {
        this.hidecons = true;
        this.hidecuenta = false;
      }
      actualizarCliente() {
        var url = "http://127.0.0.1:3000/clientes?q={'numCliente':'" + this.resp[0].numCliente.toUpperCase() + "'}";
        var request = new XMLHttpRequest();
        request.open("PUT", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var actCliente = {"numCliente":this.resp[0].numCliente.toUpperCase(),
                            "nombre":this.resp[0].nombre.toUpperCase(),
                            "paterno":this.resp[0].paterno.toUpperCase(),
                            "materno":this.resp[0].materno.toUpperCase(),
                            "sexo":this.resp[0].sexo,
                            "civil":this.resp[0].civil,
                            "calle":this.resp[0].calle.toUpperCase(),
                            "exterior":this.resp[0].exterior,
                            "interior":this.resp[0].interior,
                            "cp":this.resp[0].cp,
                            "colonia":this.resp[0].colonia.toUpperCase(),
                            "municipio":this.resp[0].municipio.toUpperCase(),
                            "estado":this.resp[0].estado.toUpperCase(),
                            "telefono":this.resp[0].telefono,
                            "email":this.resp[0].email,
                            "nacionalidad":this.resp[0].nacionalidad.toUpperCase(),
                            "nacimiento":this.resp[0].nacimiento
                            };
        var body = JSON.stringify(actCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

    }

    window.customElements.define(ConsultaMovimientos.is, ConsultaMovimientos);

  </script>
</dom-module>
