<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">

<style>
  body {
    background-color: #eeeeee;
    font-family: 'PT Sans Narrow', sans-serif;
  }
</style>

<dom-module id="consulta-cliente">
  <template>

    <div class="col-md-12" style="padding-top: 15px;">

    <h3 class="col-md-3"> Consulta de Clientes </h3>
      <div class="form-group col-md-2">
        <label for="filtro">Búsqueda por:</label>
         <select class="form-control" id="filtro" on-change="obtenerInput" value="{{filtro::input}}" required="required">
          <option value="" selected disabled hidden>Seleccione</option>
          <option value="nombre">Nombre</option>
          <option value="cliente">Cliente</option>
          <option value="cuenta">Cuenta</option>
         </select>
      </div>
     <div class="form-group col-md-2" hidden$="{{hidenom}}">
       <label for="nombre">Nombre:</label>
       <input type="text" class="form-control" id="nombre" value="{{nombre::input}}" required="required">
     </div>
     <div class="form-group col-md-2" hidden$="{{hidepat}}">
       <label for="paterno">Apellido Paterno:</label>
       <input type="text" class="form-control" id="paterno" value="{{paterno::input}}" required="required">
     </div>
     <div class="form-group col-md-2" hidden$="{{hidemat}}">
       <label for="materno">Apellido Materno:</label>
       <input type="text" class="form-control" id="materno" value="{{materno::input}}" required="required">
     </div>
     <div class="form-group col-md-2" hidden$="{{hidecli}}">
       <label for="cliente">Número de Cliente:</label>
       <input type="text" class="form-control" id="cliente" value="{{cliente::input}}" required="required">
     </div>
     <div class="form-group col-md-2" hidden$="{{hidecue}}">
       <label for="cuenta">Número de Cuenta:</label>
       <input type="text" class="form-control" id="cuenta" value="{{cuenta::input}}" required="required">
     </div>

     <div class="form-group col-md-12" hidden$="{{hidebutton}}">
       <button type="submit" on-click="obtenerCliente" class="btn btn-default col-md-2 col-md-offset-5">Buscar</button>
     </div>

     <div class="form-group col-md-12" hidden$="{{hidetab}}">
        <table class="table table-striped">
          <thead>
            <th>
              Número de Cliente
            </th>
            <th>
              Nombre Completo
            </th>
            <th>
              Dirección
            </th>
            <th>
              Teléfono
            </th>
            <th>
              e-mail
            </th>
            <th>
              Opciones
            </th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{resp}}">
              <tr>
                <td>
                  [[item.numCliente]]
                </td>
                <td>
                  [[item.nombre]] [[item.paterno]] [[item.materno]]
                </td>
                <td>
                  [[item.calle]] [[item.exterior]], [[item.colonia]], [[item.municipio]], [[item.estado]], C.P. [[item.cp]]
                </td>
                <td>
                  [[item.telefono]]
                </td>
                <td>
                  [[item.email]]
                </td>
                <td>
                  <button class="btn btn-default btn-sm" alt="Actualizar" title="Actualizar" on-click="mostrarConsulta">
                    <img src="images/update.png" height="20" width="20">
                  </button>
                  <button class="btn btn-default btn-sm" alt="Añadir Cuenta" title="Añadir Cuenta" on-click="mostrarCuenta">
                    <img src="images/add.png" height="20" width="20">
                  </button>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <div class="form-group col-md-12" hidden$="{{hidecons}}">

        <template is="dom-repeat" items="{{resp}}">
          <h3 class="col-md-3"> Actualización de Clientes </h3>
           <div class="form-group col-md-3">
             <label for="nombre">Nombre:</label>
             <input type="text" class="form-control" id="nombre" placeholder="[[item.nombre]]" value="{{cnombre::input}}" required="required">
           </div>
           <div class="form-group col-md-3">
             <label for="paterno">Apellido Paterno:</label>
             <input type="text" class="form-control" id="paterno" placeholder="[[item.paterno]]" value="{{cpaterno::input}}" required="required">
           </div>
           <div class="form-group col-md-3">
             <label for="materno">Apellido Materno:</label>
             <input type="text" class="form-control" id="materno" placeholder="[[item.materno]]" value="{{cmaterno::input}}" required="required">
           </div>

           <div class="form-group col-md-2">
             <label for="sexo">Sexo:</label>
             <select class="form-control" id="sexo" placeholder="[[item.sexo]]" value="{{csexo::input}}" required="required">
               <option value="M">Masculino</option>
               <option value="F">Femenino</option>
              </select>
           </div>
           <div class="form-group col-md-2">
             <label for="civil">Estado Civil:</label>
              <select class="form-control" id="civil" placeholder="[[item.civil]]" value="{{ccivil::input}}" required="required">
               <option value="SOLTERO">Soltero/a</option>
               <option value="COMPROMETIDO">Comprometido/a</option>
               <option value="CASADO">Casado/a</option>
               <option value="DIVORCIADO">Divorciado/a</option>
               <option value="VIUDO">Viudo/a</option>
              </select>
           </div>
           <div class="form-group col-md-4">
             <label for="calle">Calle:</label>
             <input type="text" class="form-control" id="calle" placeholder="[[item.calle]]" value="{{ccalle::input}}" required="required">
           </div>
           <div class="form-group col-md-2">
             <label for="ext">Número Exterior:</label>
             <input type="text" class="form-control" id="ext" placeholder="[[item.exterior]]" value="{{cexterior::input}}" required="required">
           </div>
           <div class="form-group col-md-2">
             <label for="int">Número Interior:</label>
             <input type="text" class="form-control" id="int" placeholder="[[item.interior]]" value="{{cinterior::input}}">
           </div>

           <div class="form-group col-md-2">
             <label for="postal">C.P.:</label>
             <input type="text" class="form-control" id="postal" placeholder="[[item.cp]]" value="{{ccp::input}}" required="required">
           </div>
           <div class="form-group col-md-4">
             <label for="colonia">Colonia:</label>
             <input type="text" class="form-control" placeholder="[[item.colonia]]" value="{{ccolonia::input}}" id="colonia">
           </div>
           <div class="form-group col-md-3">
             <label for="municipio">Municipio:</label>
             <input type="text" class="form-control" placeholder="[[item.municipio]]" value="{{cmunicipio::input}}" id="municipio">
           </div>
           <div class="form-group col-md-3">
             <label for="estado">Estado:</label>
             <input type="text" class="form-control" placeholder="[[item.estado]]" value="{{cestado::input}}" id="estado">
           </div>

           <div class="form-group col-md-2">
             <label for="telefono">Teléfono:</label>
             <input type="text" class="form-control" id="telefono" placeholder="[[item.telefono]]" value="{{ctelefono::input}}" required="required">
           </div>
           <div class="form-group col-md-4">
             <label for="email">Correo Electrónico:</label>
             <input type="email" class="form-control" id="email" placeholder="[[item.email]]" value="{{cemail::input}}" required="required">
           </div>
           <div class="form-group col-md-4">
             <label for="nacionalidad">Nacionalidad:</label>
             <input type="text" class="form-control" id="nacionalidad" placeholder="[[item.nacionalidad]]" value="{{cnacionalidad::input}}" required="required">
           </div>
           <div class="form-group col-md-2">
             <label for="nacionalidad">Fecha de Nacimiento:</label>
             <input type="date" class="form-control" id="nacimiento" placeholder="[[item.nacimiento]]" value="{{cnacimiento::input}}" required="required">
           </div>

           <button type="submit" on-click="actualizarCliente" class="btn btn-default col-md-2 col-md-offset-5">Actualizar</button>
        </template>
       </div>

       <div class="form-group col-md-12" hidden$="{{hidecuenta}}">

           <h3 class="col-md-3"> Alta de Cuentas </h3>
            <div class="form-group col-md-2">
              <label for="numCuenta">Número de Cuenta:</label>
              <input type="text" class="form-control" id="numCuenta" value="{{numCuenta::input}}" required="required">
            </div>
            <div class="form-group col-md-3">
              <label for="tarjeta">Número de Tarjeta:</label>
              <input type="text" class="form-control" id="tarjeta" value="{{tarjeta::input}}" required="required">
            </div>
            <div class="form-group col-md-2">
              <label for="tipoCuenta">Tipo de Cuenta:</label>
              <select class="form-control" id="tipoCuenta" value="{{tipoCuenta::input}}" required="required">
                <option value="" selected disabled hidden>Seleccione</option>
                <option value="D">Débito</option>
                <option value="C">Crédito</option>
               </select>
            </div>
            <div class="form-group col-md-2">
              <label for="vigencia">Vigencia:</label>
              <input type="text" class="form-control" id="vigencia" placeholder="MM/AAAA" value="{{vigencia::input}}" required="required">
            </div>

            <button type="submit" on-click="guardarCuenta" class="btn btn-default col-md-2 col-md-offset-5">Guardar</button>

        </div>

      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsultaCliente extends Polymer.Element {
      static get is() { return 'consulta-cliente'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          paterno: {
            type: String
          },
          materno: {
            type: String
          },
          cliente: {
            type: String
          },
          cuenta: {
            type: String
          },
          filtro: {
            type: String
          },
          hidenom: {
            type: Boolean,
            value: true
          },
          hidepat: {
            type: Boolean,
            value: true
          },
          hidemat: {
            type: Boolean,
            value: true
          },
          hidecli: {
            type: Boolean,
            value: true
          },
          hidecue: {
            type: Boolean,
            value: true
          },
          hidetab: {
            type: Boolean,
            value: true
          },
          hidebutton: {
            type: Boolean,
            value: true
          },
          hidecons: {
            type: Boolean,
            value: true
          },
          hidecuenta: {
            type: Boolean,
            value: true
          },
          resp: {
            type: Array,
            notify: true
          },
          numCuenta: {
            type: String
          },
          tarjeta: {
            type: String
          },
          tipoCuenta: {
            type: String
          },
          vigencia: {
            type: String
          },
          saldo: {
            type: String,
            value: 0
          },
          estatus: {
            type: String,
            value: "activo"
          },
          ccp: {
            type: String
          },
          ccolonia: {
            type: String
          },
          cmunicipio: {
            type: String
          },
          cestado: {
            type: String
          },
          cnombre: {
            type: String
          },
          cpaterno: {
            type: String
          },
          cmaterno: {
            type: String
          },
          csexo: {
            type: String
          },
          ccivil: {
            type: String
          },
          ccalle: {
            type: String
          },
          cexterior: {
            type: String
          },
          cinterior: {
            type: String
          },
          ctelefono: {
            type: String
          },
          cemail: {
            type: String
          },
          cnacionalidad: {
            type: String
          },
          cnacimiento: {
            type: String
          }
        };
      }
      obtenerCliente() {
        var filtro = this.filtro;
        if (filtro == "nombre") {
          var url = "http://127.0.0.1:3000/clientes?q={'nombre':'" + this.nombre.toUpperCase() + "'}";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("token", sessionStorage.getItem("token"));
          request.send();
          if (request.status == 200) {
            this.resp =  JSON.parse(request.responseText);
            if (this.resp.error) {
              alert(this.resp.error);
              this.hidetab = true;
            } else if (this.resp[0] == null) {
              alert("Cliente Inexistente");
              this.hidetab = true;
            } else {
              this.hidetab = false;
            }
          } else {
            alert("Servicio No Disponible");
            this.hidetab = true;
          }
        } else if (filtro == "cliente") {
          var url = "http://127.0.0.1:3000/clientes?q={'numCliente':'" + this.cliente.toUpperCase() + "'}";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("token", sessionStorage.getItem("token"));
          request.send();
          if (request.status == 200) {
            this.resp =  JSON.parse(request.responseText);
            if (this.resp.error) {
              alert(this.resp.error);
              this.hidetab = true;
            } else if (this.resp[0] == null) {
              alert("Cliente Inexistente");
              this.hidetab = true;
            } else {
              this.hidetab = false;
            }
          } else {
            alert("Servicio No Disponible");
            this.hidetab = true;
          }
        } else if (filtro == "cuenta") {
          var url = "http://127.0.0.1:3001/cuentas?q={'numCuenta':'" + this.cuenta.toUpperCase() + "'}";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("token", sessionStorage.getItem("token"));
          request.send();
          if (request.status == 200) {
            this.respCue =  JSON.parse(request.responseText);
            if (this.respCue.error) {
              alert(this.respCue.error);
              this.hidetab = true;
            } else if (this.respCue[0] == null) {
              alert("Cuenta Inexistente");
              this.hidetab = true;
            } else {
              this.hidetab = false;
            }
          } else {
            alert("Servicio No Disponible");
            this.hidetab = true;
          }
          var urlCli = "http://127.0.0.1:3000/clientes?q={'numCliente':'" + this.respCue[0].numCliente.toUpperCase() + "'}";
          var requestCli = new XMLHttpRequest();
          request.open("GET", urlCli, false);
          request.setRequestHeader("token", sessionStorage.getItem("token"));
          request.send();
          if (request.status == 200) {
            this.resp =  JSON.parse(request.responseText);
            if (this.resp.error) {
              alert(this.resp.error);
              this.hidetab = true;
            } else if (this.resp[0] == null) {
              alert("Cliente Inexistente");
              this.hidetab = true;
            } else {
              this.hidetab = false;
            }
          } else {
            alert("Servicio No Disponible");
            this.hidetab = true;
          }
        }
      }
      obtenerInput() {
        var filtro = this.filtro;
        if (filtro == "nombre") {
          this.hidenom = false;
          this.hidepat = false;
          this.hidemat = false;
          this.hidecli = true;
          this.hidecue = true;
          this.hidebutton = false;
        } else if (filtro == "cliente") {
          this.hidenom = true;
          this.hidepat = true;
          this.hidemat = true;
          this.hidecli = false;
          this.hidecue = true;
          this.hidebutton = false;
        } else {
          this.hidenom = true;
          this.hidepat = true;
          this.hidemat = true;
          this.hidecli = true;
          this.hidecue = false;
          this.hidebutton = false;
        }
      }
      guardarCuenta() {
        var url = "http://127.0.0.1:3001/cuentas";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("token", sessionStorage.getItem("token"));
        var nuevaCuenta = {"numCliente":this.resp[0].numCliente,
                            "numCuenta":this.numCuenta,
                            "tarjeta":this.tarjeta,
                            "tipoCuenta":this.tipoCuenta,
                            "saldo":this.saldo,
                            "vigencia":this.vigencia,
                            "estatus":this.estatus
                            };
        var body = JSON.stringify(nuevaCuenta);
        request.send(body);
        this.response = request.responseText;
        console.log(this.response);
      }
      mostrarConsulta() {
        this.hidecons = false;
        this.hidecuenta = true;
      }
      mostrarCuenta() {
        this.hidecons = true;
        this.hidecuenta = false;
      }
      actualizarCliente() {
        var url = "http://127.0.0.1:3000/clientes?q={'numCliente':'" + this.resp[0].numCliente.toUpperCase() + "'}";
        var request = new XMLHttpRequest();
        request.open("PUT", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("token", sessionStorage.getItem("token"));
        if (this.cnombre != null) {
          this.resp[0].nombre = this.cnombre;
        }
        if (this.cpaterno != null) {
          this.resp[0].paterno = this.cpaterno;
        }
        if (this.cmaterno != null) {
          this.resp[0].materno = this.cmaterno;
        }
        if (this.csexo != null) {
          this.resp[0].sexo = this.csexo;
        }
        if (this.ccivil != null) {
          this.resp[0].civil = this.ccivil;
        }
        if (this.ccalle != null) {
          this.resp[0].calle = this.ccalle;
        }
        if (this.cexterior != null) {
          this.resp[0].exterior = this.cexterior;
        }
        if (this.cinterior != null) {
          this.resp[0].interior = this.cinterior;
        }
        if (this.ccp != null) {
          this.resp[0].cp = this.ccp;
        }
        if (this.ccolonia != null) {
          this.resp[0].colonia = this.ccolonia;
        }
        if (this.cmunicipio != null) {
          this.resp[0].municipio = this.cmunicipio;
        }
        if (this.cestado != null) {
          this.resp[0].estado = this.cestado;
        }
        if (this.ctelefono != null) {
          this.resp[0].telefono = this.ctelefono;
        }
        if (this.cemail != null) {
          this.resp[0].email = this.cemail;
        }
        if (this.cnacionalidad != null) {
          this.resp[0].nacionalidad = this.cnacionalidad;
        }
        if (this.cnacimiento != null) {
          this.resp[0].nacimiento = this.cnacimiento;
        }
        var actCliente = {"numCliente":this.resp[0].numCliente.toUpperCase(),
                            "nombre":this.resp[0].nombre.toUpperCase(),
                            "paterno":this.resp[0].paterno.toUpperCase(),
                            "materno":this.resp[0].materno.toUpperCase(),
                            "sexo":this.resp[0].sexo,
                            "civil":this.resp[0].civil,
                            "calle":this.resp[0].calle.toUpperCase(),
                            "exterior":this.resp[0].exterior,
                            "interior":this.resp[0].interior,
                            "cp":this.resp[0].cp,
                            "colonia":this.resp[0].colonia.toUpperCase(),
                            "municipio":this.resp[0].municipio.toUpperCase(),
                            "estado":this.resp[0].estado.toUpperCase(),
                            "telefono":this.resp[0].telefono,
                            "email":this.resp[0].email,
                            "nacionalidad":this.resp[0].nacionalidad.toUpperCase(),
                            "nacimiento":this.resp[0].nacimiento
                            };
        var body = JSON.stringify(actCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

    }

    window.customElements.define(ConsultaCliente.is, ConsultaCliente);

  </script>
</dom-module>
