<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="lazy-import" href="my-app.html">

<dom-module id="login-app">
  <template>

    <div class="form-group col-md-12" style="padding-top: 25px;" hidden$="{{hidelogin}}">
      <div class="col-xs-6 col-md-4">

      </div>
      <div class="col-xs-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading" style="height: 100px;">
            <img src="images/logoblanco.png" alt="BBVA Bancomer" height="59" width="359" style="padding-top: 20px;">
          </div>
          <div class="panel-body">
            <div class="form-group col-md-12">
              <label for="usuario">Usuario:</label>
              <input type="text" class="form-control" id="usuario" value="{{usuario::input}}" required="required">
            </div>
            <div class="form-group col-md-12">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control" id="password" value="{{password::input}}" required="required">
            </div>
            <button type="submit" on-click="guardarCliente" class="btn btn-default col-md-2 col-md-offset-5">Entrar</button>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">

      </div>
    </div>

    <div id="appalf" class="form-group col-md-12" hidden$="{{hideapp}}">

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          usuario: {
            type: String
          },
          password: {
            type: String
          },
          hideapp: {
            type: Boolean,
            value: true
          }
        };
      }
      guardarCliente() {
          var url = "http://127.0.0.1:4000/gt/usuario";
          var request = new XMLHttpRequest();
          request.open("POST", url, false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          var user = {
                              "idusuario":this.usuario,
                              "password":this.password
                              };
          var body = JSON.stringify(user);
          request.send(body);
          this.resp = JSON.parse(request.responseText);
          console.log(this.resp.token);
          if (this.resp.token == null) {
            alert("Usuario Invalido");
          } else {
            sessionStorage.setItem("token", this.resp.token);
            sessionStorage.setItem("nombre", this.resp.nombre);
            var div = this.$.appalf;
            div.innerHTML += "<my-app name="+"'"+"my-app"+"'"+"></my-app>";
            const resolvedPageUrl = this.resolveUrl('my-app.html');
            Polymer.importHref(
                resolvedPageUrl,
                null,
                null,
                true);
            this.hidelogin = true;
            this.hideapp = false;
          }
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);

  </script>
</dom-module>
