<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">

<style>
  body {
    background-color: #eeeeee;
    font-family: 'PT Sans Narrow', sans-serif;
  }
</style>

<dom-module id="practitioner-app">
  <template>

    <div class="col-md-12" style="padding-top: 15px;">

    <h3 class="col-md-3"> Alta de Clientes </h3>
     <div class="form-group col-md-3">
       <label for="nombre">Nombre:</label>
       <input type="text" class="form-control" id="nombre" value="{{nombre::input}}" required="required">
     </div>
     <div class="form-group col-md-3">
       <label for="paterno">Apellido Paterno:</label>
       <input type="text" class="form-control" id="paterno" value="{{paterno::input}}" required="required">
     </div>
     <div class="form-group col-md-3">
       <label for="materno">Apellido Materno:</label>
       <input type="text" class="form-control" id="materno" value="{{materno::input}}" required="required">
     </div>

     <div class="form-group col-md-2">
       <label for="sexo">Sexo:</label>
       <select class="form-control" id="sexo" value="{{sexo::input}}" required="required">
         <option value="" selected disabled hidden>Seleccione</option>
         <option value="M">Masculino</option>
         <option value="F">Femenino</option>
        </select>
     </div>
     <div class="form-group col-md-2">
       <label for="civil">Estado Civil:</label>
        <select class="form-control" id="civil" value="{{civil::input}}" required="required">
         <option value="" selected disabled hidden>Seleccione</option>
         <option value="SOLTERO">Soltero/a</option>
         <option value="COMPROMETIDO">Comprometido/a</option>
         <option value="CASADO">Casado/a</option>
         <option value="DIVORCIADO">Divorciado/a</option>
         <option value="VIUDO">Viudo/a</option>
        </select>
     </div>
     <div class="form-group col-md-4">
       <label for="calle">Calle:</label>
       <input type="text" class="form-control" id="calle" value="{{calle::input}}" required="required">
     </div>
     <div class="form-group col-md-2">
       <label for="ext">Número Exterior:</label>
       <input type="text" class="form-control" id="ext" value="{{ext::input}}" required="required">
     </div>
     <div class="form-group col-md-2">
       <label for="int">Número Interior:</label>
       <input type="text" class="form-control" id="int" value="{{int::input}}">
     </div>

     <div class="form-group col-md-2">
       <label for="postal">C.P.:</label>
       <input type="text" class="form-control" on-blur="obtenerDireccion" id="postal" value="{{cp::input}}" required="required">
     </div>
     <div class="form-group col-md-4">
       <label for="colonia">Colonia:</label>
       <input type="text" class="form-control" value="{{col::input}}" disabled="disabled" id="colonia">
     </div>
     <div class="form-group col-md-3">
       <label for="municipio">Municipio:</label>
       <input type="text" class="form-control" value="{{mun::input}}" disabled="disabled" id="municipio">
     </div>
     <div class="form-group col-md-3">
       <label for="estado">Estado:</label>
       <input type="text" class="form-control" value="{{est::input}}" disabled="disabled" id="estado">
     </div>

     <div class="form-group col-md-2">
       <label for="telefono">Teléfono:</label>
       <input type="text" class="form-control" id="telefono" value="{{telefono::input}}" required="required">
     </div>
     <div class="form-group col-md-2">
       <label for="email">Correo Electrónico:</label>
       <input type="email" class="form-control" id="email" value="{{email::input}}" required="required">
     </div>
     <div class="form-group col-md-2">
       <label for="nacionalidad">Nacionalidad:</label>
       <input type="text" class="form-control" id="nacionalidad" value="{{nacionalidad::input}}" required="required">
     </div>
     <div class="form-group col-md-2">
       <label for="nacionalidad">Fecha de Nacimiento:</label>
       <input type="date" class="form-control" id="nacimiento" value="{{nacimiento::input}}" required="required">
     </div>
     <div class="form-group col-md-2">
       <label for="password1">Contraseña:</label>
       <input type="password" class="form-control" id="password1" value="{{pass1::input}}" required="required">
     </div>
     <div class="form-group col-md-2">
       <label for="password2">Repita Contraseña:</label>
       <input type="password" class="form-control" id="password2" value="{{pass2::input}}" required="required">
     </div>

     <button type="submit" on-click="guardarCliente" class="btn btn-default col-md-2 col-md-offset-5">Enviar</button>

   </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PractitionerApp extends Polymer.Element {
      static get is() { return 'practitioner-app'; }
      static get properties() {
        return {
          cp: {
            type: String
          },
          col: {
            type: String
          },
          mun: {
            type: String
          },
          est: {
            type: String
          },
          nombre: {
            type: String
          },
          paterno: {
            type: String
          },
          materno: {
            type: String
          },
          sexo: {
            type: String
          },
          civil: {
            type: String
          },
          calle: {
            type: String
          },
          ext: {
            type: String
          },
          int: {
            type: String
          },
          telefono: {
            type: String
          },
          email: {
            type: String
          },
          nacionalidad: {
            type: String
          },
          nacimiento: {
            type: String
          },
          pass1: {
            type: String
          },
          pass2: {
            type: String
          }
        };
      }
      obtenerDireccion() {
        var url = "https://api-codigos-postales.herokuapp.com/v2/codigo_postal/" + this.cp;
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.send();
        this.est = JSON.parse(request.responseText).estado;
        this.mun = JSON.parse(request.responseText).municipio;
        this.col = JSON.parse(request.responseText).colonias[0];
      }
      guardarCliente() {
        if (this.pass1 == this.pass2) {
          var url = "http://127.0.0.1:3000/clientes";
          var request = new XMLHttpRequest();
          request.open("POST", url, false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          request.setRequestHeader("token", sessionStorage.getItem("token"));
          var randVal = 100000 + (Math.random() * (999999-100000));
          var randNum = Math.round(randVal);
          var numCli = "B" + randNum + this.sexo + this.nombre.charAt(0) + this.paterno.charAt(0);
          var nuevoCliente = {"numCliente":numCli.toUpperCase(),
                              "nombre":this.nombre.toUpperCase(),
                              "paterno":this.paterno.toUpperCase(),
                              "materno":this.materno.toUpperCase(),
                              "sexo":this.sexo,
                              "civil":this.civil,
                              "calle":this.calle.toUpperCase(),
                              "exterior":this.ext,
                              "interior":this.int,
                              "cp":this.cp,
                              "colonia":this.col.toUpperCase(),
                              "municipio":this.mun.toUpperCase(),
                              "estado":this.est.toUpperCase(),
                              "telefono":this.telefono,
                              "email":this.email,
                              "nacionalidad":this.nacionalidad.toUpperCase(),
                              "nacimiento":this.nacimiento,
                              "password":this.pass1
                              };
          var body = JSON.stringify(nuevoCliente);
          request.send(body);
          this.respuesta = request.responseText;
          console.log(this.respuesta);
        } else {
          alert("Contraseña No Coincide");
        }
      }

    }

    window.customElements.define(PractitionerApp.is, PractitionerApp);

  </script>
</dom-module>
